body {
  font-family: Verdana;
  background-color: rgb(24,26,27);
  color: rgb(231,229,228);
  margin: 0;
  font-size: 1vw;
}
ul, li {
  margin: 0;
  padding: 0;
  padding-left: 2.5vmax;
}
.modStatBox {
  display: inline-block;
  margin: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: 30%;
  height: auto;
  background-color: rgb(47,79,79);
  padding: 1%;
}
p, h3 {
  margin: 0;
}
img {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}
a, a:active, a:hover {
  color: #33A1DE;
}
#status {
  user-select:none;
  text-align:center;
  font-size:1.5vw;
}
#notification {
  position: fixed;
  top: 1vmax;
  right: 1vmax;
}
#notif-box, .modStatBox {
  border-radius: 1vmax;
}
table {
  border-spacing: 1vmax;
}
#notif-box {
  background-color: rgb(24,26,27);
  padding: 1vmax;
  cursor: pointer;
  text-align: center;
  width: 2.5vmax;
  height: 2.5vmax;
}
.playerstat {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border: none;
  border-collapse: collapse;
}
.numbers {
  text-align:right;
}
.playerstat>tbody>tr>td {
  padding: 0;
}
