body {
  font-family: Verdana;
  background-color: rgb(24,26,27);
  color: rgb(231,229,228);
  margin: 0;
  font-size: 10pt;
  background-image: url(/Starblastio_background18.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  cursor: default;
}
.modStatBox {
  display: inline-block;
  height: auto;
  background-color: rgb(47,79,79);
  font-size: 100%;
}
p, h3 {
  margin: 0;
}
img {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}
a, a:active, a:hover {
  color: #33A1DE;
}
#status {
  user-select:none;
  text-align:center;
  font-size:15pt;
}
#notification {
  position: fixed;
  top: 1vmax;
  right: 1vmax;
}
#notif-box, .modStatBox {
  border-radius: 1vmax;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
#notif-box {
  background-color: rgb(24,26,27);
  padding: 1vmax;
  cursor: pointer;
  text-align: center;
  width: 2.5vmax;
  height: 2.5vmax;
}
.playerstat {
  padding: 0;
  margin: 0;
  border: none;
}
.numbers {
  text-align:right;
}
.playerstat>tbody>tr>td {
  padding: 0;
}
