body {
  width: 100%;
  height: 100%;
  background-image: url("Starblastio_background18.jpg");
}
div {
  background-color:#09161c;
  color:rgb(240,240,240);
}
textarea {
  width:300px;
  height:100px;
  background-color:rgb(15,15,15);
  color: rgb(240,240,240);
  font-size: 12pt;
}
a {
  color: cyan;
}
a:active {
  color:blue;
}
