* {
  font-size: 1.2vmax
}
*:not([class*=ace]) {
  font-family: Verdana;
}
body {
  user-select:none;
  background-size: 100% 100%;
}
#menu {
  width:100%;
  background-color:inherit;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5vmax;
}
button, input, textarea {
  border-width: 0.1vmax;
  padding: 0.1vmax;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button,input {
  color: inherit;
  margin: 0.3vmax;
  border-color: #575757;
  background-color:inherit;
}
button {
  width: 3.5vmax;
  height: 3.5vmax;
  cursor: pointer;
}
table {
  border-spacing: 0.2vmax;
}
input {
  width:6.5vmax;
  font-size: 1.2vmax;
}
#footer {
  background-color: inherit;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
#XY {
  float: left;
}
#info {
  float: right;
  text-align: right;
}
#footer, #footer>* {
  padding: 0.2vmax;
  margin: 0;
  font-size: 1.2vmax;
}
input[type=file], input[type=checkbox] {
  display: none;
}
#mapBox {
  overflow:hidden;
}
#map {
  overflow:hidden;
}
input[type=number] {
  width: 4vmax;
  -moz-appearance: textfield;
}
td {
  height:3.5vmax;
  width:3.5vmax;
  text-align:center;
  border: 0.1vmax solid;
  padding: 0.1vmax;
  border-color:inherit;
  cursor: pointer;
}
button:disabled, textarea:read-only, input:read-only {
  cursor: not-allowed;
}

#modules {
  position: relative;
  z-index: 1;
}

#modules>tbody>tr>td, #short-main>table>tbody>tr>td {
  padding: 0.5vmax;
  height: 0.15vmax;
  font-size: 1.2vmax;
}

.container {
  margin-top: -0.3vmax;
  border-width: 0.1vmax;
  border-style: solid;
}

table:not(#modules), #MirrorOptions, #RandomOptions, #bgI-menu, #bgI-MapOnlyOptions {
  display: inline-block;
}

#mapBgI {
  z-index: -1;
  position: absolute;
}

#BrushCode {
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  z-index: 2;
  padding: 1%;
  overflow: scroll;
}

textarea,#code {
  background-color: inherit;
  color: inherit;
  resize: vertical;
  width:98%;
  height:35%;
}
.fas {
  font-size: 1.5vmax;
}
.as {
  width: 3vmax;
}
select {
  background-color: inherit;
  color: inherit;
  border: inherit;
  padding: 0.5vmax;
  margin: 0;
  height: 3.5vmax;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
