* {
  font-family: Verdana;
}
body {
  user-select:none;
  background-size: 100% 100%;
}
#menu {
  width:100%;
  background-color:inherit;
  position: fixed;
  top:0px;
  left:0px;
  padding:5px;
}
button,input {
  color: inherit;
  float:left;
  margin:3px;
  border-color: #575757;
  background-color:inherit;
}
button {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
input {
  width:65px;
}
#footer {
  background-color: inherit;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#XY {
  float: left;
}
#info {
  float: right;
}
#footer, #footer>* {
  padding: 2px;
  margin: 0px;
  font-size:10pt;
}
input[type=file], input[type=checkbox] {
  display: none;
}
#mapBox {
  padding-bottom:10pt;
  overflow:hidden;
}
#map {
  overflow:hidden;
  background-size: 100% 100%;
}
input[type=number] {
  width: 40px;
}
td {
  height:35px;
  width:35px;
  text-align:center;
  border: 1px solid;
  border-color:inherit;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
#modules>tbody>tr>td {
  padding: 2pt;
  height: 15pt;
  font-size: 9pt;
}

table:not(#mirrorChoose):not(#modules) {
  float: left;
}
