body {
  font-family: Verdana;
  background-color: rgb(24,26,27);
  color: rgb(231,229,228);
}
* {
  margin: 5pt;
}
tr {
  text-align: left;
}
h5, a, a:active, a:hover, sup {
  color: #33A1DE;
  text-decoration: none;
}
.active, .active:active, .active:hover {
  color: #33A1DE;
}
.private, .private:active, .private:hover {
  color: orange;
}
.down, .down:active, .down:hover {
  color: red;
}
p {
  font-size: 10pt;
}
.ModTab {
  margin: 5px;
  background-color: rgb(47,79,79);
  width: auto;
  height: auto;
  display: inline-block;
}
