body {
  font-family: Verdana;
  background-color: #1b2a32;
  color: #e6e6e6;
}

*:not(b) {
	margin: 1%;
  margin-left: 0.5%;
  margin-top: 0.5%;
}

table {
  width: 100%;
  text-align: center;
  background-color: #25333b;
  border: 1px solid #4e595f;
  border-spacing: 0.5vmax;
}

table>tbody>tr>* {
  padding: 1%;
}

table>tbody>tr>th {
  background-color: #ced7dc;
  color: #2a2d2f;
}

table>tbody>tr>td {
  background-color: rgba(0,0,0,.3);
}

table>tbody>tr>th:nth-child(1) {
  text-align: left;
  width: 15%;
}
