body {
  font-family: Verdana;
  background: transparent;
}

*:not(b) {
	margin: 1%;
  margin-left: 0;
}

table {
  width: 100%;
  text-align: center;
}

table>tbody>tr>th:nth-child(1) {
  text-align: left;
}
