body {
  user-select:none;
}
#menu {
  width:100%;
  background-color:inherit;
  position: fixed;
  top:5px;
  left:5px;
}
button,input {
  color: inherit;
  float:left;
  margin:3px;
  border-color: #575757;
  background-color:inherit;
}
button {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
input {
  color:inherit;
  width:65px;
}
#info, #XY {
  color:inherit;
  position: fixed;
  bottom:1px;
  margin:0px;
}
#XY {
  left:1px;
}
#info {
  right:1px;
}
#loadMap {
  display: none;
}
#mapBox {
  padding-bottom:20px;
  overflow:hidden;
}
#map {
  overflow:hidden;
}
.SmallInput {
  width: 40px;
}
td {
  height:35px;
  width:35px;
  text-align:center;
  border: 1px solid;
  border-color:inherit;
  cursor: pointer;
}
