#docpage {
    position: fixed;
    left: 0;
    top: 10vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 90vh;
    border: none;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 10vh;
    border: none;
    background-color: rgba(0,0,0,0.2);
    display: table;
}

#navbar > * {
    background: transparent;
    display: table-cell;
    vertical-align: middle;
}
