#docpage {
    position: fixed;
    left: 0;
    top: 10vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 90vh;
    border: none;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 10vh;
    border: none;
    background-color: rgba(0,0,0,0.2);
    display: table;
    padding-left: 2%;
}

#navbar * {
    background: transparent;
    display: table-cell;
    vertical-align: middle;
}

#versions {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
