@font-face {
  font-family:'SBGlyphs';
  src:url('https://starblast.data.neuronality.com/fonts/starblast-glyphs.ttf?v=1');
  font-weight:normal;
  font-style:normal
}

:root {
  --sb-color: hsla(200,100%,90%,.8);
}

html {
  background-color: #000;
}

body {
  margin: 0;
  background: linear-gradient(
135deg,hsla(200,30%,10%,1) 0,hsla(200,30%,30%,1) 150%);
  box-shadow: 0 0 6px hsl(200deg 100% 80%);
  text-shadow: 0 0 7px hsl(200deg 100% 80%);
}

*:not(.CodeMirror *, .CodeMirror) {
  font-family: Play, Verdana !important;
  cursor: default;
  color: var(--sb-color) !important;
}

.CodeMirror {
  background-color: var(--bs-gray);
  text-shadow: none;
}

*:disabled {
  cursor: not-allowed !important;
}

.card, .btn {
  background: radial-gradient(ellipse at center,hsla(200,50%,0%,1) 0,hsla(200,100%,70%,.5) 150%);
  box-shadow: 0 0 6px hsl(200deg 100% 80%);
  text-shadow: 0 0 7px hsl(200deg 100% 80%);
  color: var(--sb-color);
  border: 0;
}

.card, #systemsList div.system-card *, .btn, input[type="checkbox"], label, select, button, i, a {
  cursor: pointer !important;
}

select, input[type="text"], input[type="number"] {
  background-color: hsl(200,60%,15%) !important;
  border: 1px solid hsl(200,60%,10%) !important;
  vertical-align: middle !important;
  box-sizing: border-box !important;
}

input[type="text"], input[type="number"], *[contenteditable='true'] {
  cursor: text;
}

#systemsList div.system-card:hover {
  border: 1px solid #cde !important;
}

#systemReportCard:hover {
  border: inherit !important;
}

*::-webkit-scrollbar-track {
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:0;
    background-color:transparent;
}

*::-webkit-scrollbar {
    width:10px;
}

*::-webkit-scrollbar-thumb {
    border-radius:0;
    box-shadow:inset 0 0 6px rgba(0,0,0,.5);
    background-color:hsla(200,50%,70%,.5);
}

.modal-content, .popover {
  box-shadow: 0 0 6px hsl(200deg 100% 80%);
  background: linear-gradient(
135deg,hsla(200,30%,10%,1) 0,hsla(200,30%,30%,1) 150%);
  transition: top .6s ease;
  overflow: auto;
  text-shadow: 0 0 6px hsl(200deg 100% 60% / 75%);
}

.popover-arrow {
  display: none;
}

.modal-header {
    background: hsla(200,70%,70%,.1);
    border-bottom: 5px solid hsla(200,50%,70%,.5);
}

.badge {
  cursor: help;
}
