@import url('https://fonts.googleapis.com/css2?family=Play');
@font-face {
	font-family: 'SBGlyphs';
	src: url('https://starblast.data.neuronality.com/fonts/starblast-glyphs.ttf?v=1');
	font-weight: normal;
	font-style: normal
}

:root {
	--sb-color: hsla(200, 100%, 90%, .8);
}

html {
	background-color: #000;
}

body {
	margin: 0;
	background-image: url(https://starblast.io/static/img/bg.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
  background-color: #000;
	box-shadow: 0 0 6px hsl(200deg 100% 80%);
	text-shadow: 0 0 7px hsl(200deg 100% 80%);
}

*:not(.CodeMirror *):not(.CodeMirror) {
	font-family: 'Play', Play, var(--bs-font-sans-serif) !important;
	cursor: default;
	color: var(--sb-color) !important;
}

.bi::before,
[class*=" bi-"]::before,
[class^=bi-]::before {
	font-family: bootstrap-icons !important;
}

.CodeMirror {
	background-color: var(--bs-gray);
	text-shadow: none;
}

*:disabled {
	cursor: not-allowed !important;
}

.card,
.btn,
.navbar-toggler {
	background: radial-gradient(ellipse at center, hsla(200, 50%, 0%, 1) 0, hsla(200, 100%, 70%, .5) 150%);
	box-shadow: 0 0 6px hsl(200deg 100% 80%);
	text-shadow: 0 0 7px hsl(200deg 100% 80%);
	color: var(--sb-color);
	border: 0;
}

.navbar-brand,
.navbar-brand *,
.navbar-toggler *,
.card,
#systemsList div.system-card *,
.btn,
input[type="checkbox"],
label,
select,
button,
i,
a {
	cursor: pointer !important;
}

select,
input[type="text"],
input[type="number"] {
	background: hsl(200, 60%, 15%) !important;
	border: 1px solid hsl(200, 60%, 10%) !important;
	vertical-align: middle !important;
	box-sizing: border-box !important;
	-webkit-appearance: auto !important;
	-moz-appearance: auto !important;
	appearance: auto !important;
	padding: 0.375rem 0.75rem !important;
}

input[type="text"],
input[type="number"],
*[contenteditable='true'] {
	cursor: text !important;
}

#systemsList div.system-card:hover,
#systemReportCard:hover {
	border: inherit !important;
}

#systemsList div.system-card:hover,
.btn:hover,
.navbar-toggler:hover {
	border: inherit;
	background: radial-gradient(ellipse at center, hsla(200, 50%, 0%, 1) 0, hsla(200, 100%, 70%, .5) 100%);
	box-shadow: 0 0 8px hsl(200deg 100% 90%);
	color: #FFF;
}

.btn-outline-danger:hover {
	background: radial-gradient(ellipse at center, hsla(200, 50%, 0%, 1) 0, var(--bs-danger) 100%);
}

.btn-outline-success:hover {
	background: radial-gradient(ellipse at center, hsla(200, 50%, 0%, 1) 0, var(--bs-success) 100%);
}

.navbar-toggler-icon {
	background: transparent !important;
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 0;
	background-color: transparent;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 0;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
	background-color: hsla(200, 50%, 70%, .5);
}

.modal-content,
.popover,
.btn-close {
	box-shadow: 0 0 6px hsl(200deg 100% 80%);
	background: linear-gradient( 135deg, hsla(200, 30%, 10%, 1) 0, hsla(200, 30%, 30%, 1) 150%);
	transition: top .6s ease;
	overflow: auto;
	text-shadow: 0 0 6px hsl(200deg 100% 60% / 75%);
}

.popover-arrow {
	display: none;
}

.modal-header {
	background: hsla(200, 70%, 70%, .1);
	border-bottom: 5px solid hsla(200, 50%, 70%, .5);
}

.badge {
	cursor: help !important;
}

#systemsList {
	padding: 6px !important;
}

#systemsList .system-card {
	margin-top: 1rem !important;
	margin-bottom: 0 !important;
}

#systemsList>.system-card:first-of-type {
	margin-top: 0 !important;
}

.btn-close {
	box-shadow: none;
	width: 1.5em;
	height: 1.5em;
	background: transparent;
	font-size: 1.5em;
	text-align: center;
	padding: 0 !important;
	font-weight: 600;
}

.btn-close::after {
	content: "×";
}

.btn-close:hover {
	color: #FFF;
	background-color: rgba(240, 250, 255, .1);
}

.bi-people-fill::before,
.bi-person-fill::before,
.bi-bullseye::before,
.bi-trophy-fill::before,
.bi-code-slash::before,
.bi-border::before,
.bi-wrench::before,
.navbar-toggler-icon::before {
	font-family: 'SBGlyphs' !important;
}

.bi-people-fill::before {
	content: "\00bd";
}

.bi-person-fill::before {
	content: "\0079";
}

.bi-bullseye::before {
	content: "\00bc";
}

.bi-trophy-fill::before {
	content: "\00be";
}

.bi-code-slash::before {
	content: "\00c1";
}

.bi-border::before {
	content: "\00bf";
}

.bi-wrench::before {
	content: "\0022";
}

.navbar-toggler-icon::before {
	vertical-align: -0.125em;
	content: "\0042";
}
