body {
  background-color: #09161c;
  color: rgb(240,240,240);
  font-family: Play, Verdana;
  background-image: url(/Starblastio_background18.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
}

#title {
  text-align: center;
  border-bottom: 1px solid;
  background-color: rgba(9,22,28,0.7);
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.toolBox {
  display: inline-block;
  height: auto;
  background-color: rgb(47,79,79,0.5);
  font-size: 100%;
  backdrop-filter: blur(1px);
  cursor: pointer;
}

.toolIcon {
  width: 10%;
  position: absolute;
  background-color: inherit;
}

img {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}

a, a:active {
  color: cyan;
  font-size: 90%;
}
