body {
  font-family: Verdana;
  background-color: #1b2a32;
  color: #e6e6e6;
  background-image: url(https://starblast.io/static/img/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#title {
  margin-bottom: 0;
}

#comment {
  margin-top: 0;
}

table {
  width: 100%;
  text-align: center;
  background-color: #25333b;
  border: 1px solid #4e595f;
  border-spacing: 0.5vmax;
  font-size: 90%;
}

table img {
  width: 100%;
}

table tr>* {
  padding: 1%;
}

table th {
  background-color: #ced7dc;
  color: #2a2d2f;
}

table td {
  background-color: rgba(0,0,0,.3);
}

table td:nth-child(2), table td:nth-child(5), table td:nth-child(8) {
  text-align: left;
}

table th:nth-child(1), table td:nth-child(1) {
  width: 5%;
}

a, a:hover {
  color: cyan;
}

#filter {
  padding: 1%;
  border: 1px solid;
  background-color: rgba(9,22,28,0.7);
}

#filter > * {
  margin: 0;
  font-size: 90%;
}

.chooser {
  display: inline-block;
}

#blocker {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
}

#modal {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  z-index: 11;
  background-color: rgb(27, 42, 50);
  border-radius: 2%;
  overflow: hidden;
}

#modalheader * {
  margin: 0;
  padding: 2%;
}

#modalheader {
  padding: 0;
  margin: 1%;
}

#modaltitle {
  font-weight: bold;
  padding-left: 1%;
}

#close {
  background-color: inherit;
  border: none;
  border-radius: 10%;
  float: right;
  color: inherit;
  font-size: 200%;
  padding: 0;
}

#close:hover {
    background-color: rgb(255,255,255,0.1);
}

#modalcontent {
  font-size: 85%;
  padding: 2%;
  padding-top: 0;
  width: 95%;
  overflow-y: auto;
  max-height: 75%;
  line-height: 1.6;
}

#servers-list tr > :nth-child(5):not(th), #servers-list tr > :nth-child(6):not(th), #close {
  cursor: pointer;
}

#servers-list tr > :nth-child(5):not(th), #servers-list tr > :nth-child(6):not(th) {
  text-overflow: ellipsis;
  max-width: 25vw;
  overflow: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: rgb(14,26,27);
}

::-webkit-scrollbar-thumb {
  background: rgb(102,102,102);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
