body {
  font-family: Verdana;
  background-color: #1b2a32;
  color: #e6e6e6;
  background-image: url(https://starblast.io/static/img/bg.webp);
}

table {
  width: 100%;
  text-align: center;
  background-color: #25333b;
  border: 1px solid #4e595f;
  border-spacing: 0.5vmax;
  font-size: 90%;
}

table img {
  width: 100%;
}

table tr>* {
  padding: 1%;
}

table th {
  background-color: #ced7dc;
  color: #2a2d2f;
}

table td {
  background-color: rgba(0,0,0,.3);
}

table td:nth-child(2), table td:nth-child(5), table td:nth-child(8) {
  text-align: left;
}

table th:nth-child(1), table td:nth-child(1) {
  width: 5%;
}

#filter {
  padding: 1%;
  border: 1px solid;
  background-color: rgba(9,22,28,0.7);
}

#filter > * {
  margin: 0;
  font-size: 90%;
}

.chooser {
    display: inline-block;
}
