body {
  font-family: sans-serif;
  text-align:center;
  background-color:#09161c;
  color:rgb(240,240,240);
}
input[type="text"] {
  width:500px;
  height: 40px;
  color: inherit;
  background-color:inherit;
  border-color: #3e4a41;
}
p {
  font-size:20px;
}
.bar {
  font-size:30px;
  text-align:center;
}
#error {
  color:red;
}
#warning {
  color:yellow
}
button {
  margin:10px;
  font-size:25px;
  color: inherit;
  background-color: #3e4a41;
}
a {
  color: cyan;
}
a:active {
  color:blue;
}
