body {
  font-family: sans-serif;
  text-align:center;
  background-color:#09161c;
  color:rgb(240,240,240);
}
input type="text" {
  width:500px;
  height: 40px;
  color: rgb(240,240,240);
  background-color:#09161c;
  border-color: #3e4a41;
}
.bar {
  font-size:30px;
  text-align:center;
}
#error {
  color:red;
  font-size:15px;
  width:500px;
  height:60px;
}
button {
  margin:10px;
  font-size:25px;
  color: rgb(240,240,240);
  background-color: #3e4a41;
}
